.breadCrumbs > [class~="p-breadcrumb"] {
    background-color: #25476a;
    border: none;
}

.crumbs [class~="p-breadcrumb-chevron"] {
    color: #ffffff !important;
}

.crumbs [class~="p-menuitem-text"] {
    color: #ffffff !important;
}

.crumbs [class~="p-menuitem-icon"] {
    color: #ffffff !important;
}