.formDemo {
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    min-width: 400px;

}

.card {
    h2 {
        color: #1B3954;
        font-size: 28px;
    }
    h4 {
        color: #1B3954;
    }
    .logo {
        width: 100%;
    }
}